.topFixedBanner {
	background-image: url(../image/banner.jpg);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.topBannerOverlay {
	position: absolute;
	min-height: 500px;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.topContent {
	margin-top: 12rem;
}
.topTitle {
	font-family: 'Montserreat', san-serif;
	font-weight: 700;
	color: #ffffff;
	font-size: 48px;
}
.topSubTitle {
	font-family: 'Raleway', san-serif;
	font-weight: 600;
	color: #ffffff;
	font-size: 22px;
}
.serviceMaintitle {
	color: #0073e6;
	margin-top: 5rem;
	margin-bottom: 3rem;
	font-family: 'Montserreat', san-serif;
	font-size: 28px;
	font-weight: 600;
}
.serviceName {
	margin-top: 1rem;
	font-family: 'Raleway', san-serif;
	font-size: 28px;
	font-weight: 600;
}
.serviceDescription {
	color: #2b2b2b;
	margin-top: 1rem;
	font-family: 'Raleway', san-serif;
	font-size: 14px;
	font-weight: 400;
}
.serviceCard {
	margin: 5px 5px 5px 5 px;
	height: 33rem;
	padding: 60px 30px 60px 30px;
	box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.serviceCard:hover {
	box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}
.navTitle {
	font-family: 'Montserreat', san-serif;
	color: #ffffff !important;
	font-weight: 700;
	font-size: 24px;
}
.navTitleScroll {
	font-family: 'Montserreat', san-serif;
	color: #3b94d9 !important;
	font-weight: 700;
	font-size: 24px;
}
.navBackground {
	-webkit-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
	background-color: rgba(0, 0, 0, 0) !important ;
}
.navBackgroundScroll {
	-webkit-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
	background-color: rgba(0, 0, 0, 0) !important ;
	background-color: #ffffff !important;
}
.navItem {
	text-decoration: none !important;
	font-family: 'Montserreat', san-serif;
	font-weight: 400;
	color: #ffffff;
}
.navItemScroll {
	text-decoration: none !important;
	font-family: 'Montserreat', san-serif;
	font-weight: 400;
	color: #2b2b2b !important;
}
.analysisDescription {
	font-weight: 400;
	color: #2b2b2b;
	font-family: 'Raleway', san-serif;
	font-size: 14px;
}
.summarySection {
	margin-top: 5rem;
}
.summaryBanner {
	background-image: url(../image/summaryBanner.png);
	min-height: 350px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.summaryBannerOverlay {
	position: absolute;
	min-height: 350px;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.countNumber {
	color: #ffffff;
	font-family: 'Montserreat', san-serif;
	font-size: 48px;
	font-weight: 600;
}
.countTitle {
	color: #ffffff;
	font-family: 'Raleway', san-serif;
	font-size: 22px;
	font-weight: 600;
}
.countSection {
	margin-top: 17%;
}
.cardTitle {
	font-family: 'Raleway', san-serif;
	color: #2b2b2b;
	font-size: 22px;
	font-weight: 600;
}
.cardSubTitle {
	font-family: 'Montserreat', san-serif;
	color: #2b2b2b;
	font-size: 14px;
	font-weight: 400;
}
.iconbullet {
	color: #0073e6;
	font-size: 16px;
}
.workCard {
	margin-top: 14%;
	padding: 10px 10px 10px 10px;
	border-radius: 2px;
}
.projectCard {
	border-radius: 2px;
	border: none !important;
	margin: 2px 2px 2px;
	box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.projectCard:hover {
	box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}
.projectCardTitle {
	font-family: 'Montserreat', san-serif;
	font-size: 18px;
	font-weight: 600;
}
.projectCardTitleDescrption {
	font-family: 'Raleway', san-serif;
	font-size: 15px;
	font-weight: 400;
}
.courseImg {
	width: 100%;
}
.courseTitle {
	font-family: 'Montserreat', san-serif;
	font-size: 15px;
	font-weight: 600;
}
.courseTitleDescription {
	font-family: 'Raleway', san-serif;
	font-size: 14px;
	font-weight: 400;
}
.courseTitleDetails {
	color: #0073e6;
	text-decoration: none;
	font-family: 'Raleway', san-serif;
	font-size: 18px;
	font-weight: 600;
}
.courseTitleDetails:hover {
	text-decoration: none;
}
.videoCard {
	box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
	padding: 6rem 3rem 6rem 3rem;
	background-color: #ffffff;
	margin: 50px auto;
}
.playBtn {
	color: #0073e6;
	font-size: 48px;
	cursor: pointer;
}
.videoTitle {
	color: #0073e6;
	font-family: 'Montserreat', san-serif;
	font-size: 22px;
	font-weight: 600;
}
.videoDescription {
	font-family: 'Raleway', san-serif;
	font-size: 16px;
	font-weight: 400;
}
.circleImage {
	margin: 0px auto;
	width: 100px;
	height: 100px;
	border: 1px solid #0073e6;
	border-radius: 50%;
}
.footerSection {
	box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
	margin-top: 5rem;
}
.socialLink {
	text-decoration: none;
	color: #0073e6;
	font-family: 'Raleway', san-serif;
	font-size: 14px;
	font-weight: 600;
}
.socialLink:hover {
	text-decoration: none;
	color: #2b2b2b;
}
.footerLink {
	text-decoration: none;
	color: #2b2b2b;
	font-family: 'Raleway', san-serif;
	font-size: 14px;
	font-weight: 400;
}
.footerLink:hover {
	text-decoration: none;
	color: #0073e6;
}
.copyRightSection {
	padding: 20px 20px 20px 20px;
	background-color: #0073e6;
}
.copyRightLink {
	color: #ffffff;
	font-family: 'Montserreat', san-serif;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}
.copyRightLink:hover {
	color: #2b2b2b;
	text-decoration: none;
}
.topFixedPage {
	background-image: url(../image/banner.jpg);
	min-height: 280px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.topPageOverlay {
	position: absolute;
	min-height: 280px;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.topPageContent {
	margin-top: 9rem;
}
.pageTitle {
	font-family: 'Raleway', san-serif;
	font-weight: 600;
	color: #ffffff;
	font-size: 28px;
}
.form-control:focus {
	border-radius: 2px !important;
	border-color: #0073e6 !important;
	box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2) !important;
}
.linkStyle {
	color: #ffffff !important;
	text-decoration: none !important;
}
.linkStyle:hover {
	color: #ffffff !important;
	text-decoration: none !important;
}
